.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
}

.BurgerPane {
  border: 2px solid white;
  display: inline-block;
  width: 50vw;
}

.IngredientsList {
  border: 2px solid white;
  display: inline-block;
  width: 50vw;
}

.ingredient {
  display: flex;
  justify-content: space-evenly;
}